<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz_time">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizTime">
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileEditActivity"
            android:exported="false"
            android:label="@string/title_activity_profile_edit"
            android:theme="@style/Theme.QuizTime.NoActionBar" />
        <activity
            android:theme="@style/SplashScreenBackground"
            android:name=".StarterScreen"
            android:exported="false" />
        <activity
            android:name=".AuthPackage.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthPackage.LoginActivity"
            android:exported="true"
            android:theme="@style/SplashScreenBackground"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>